{% extends 'home.html' %}
{% block content %}

<!-- html snippet for form --!>
<div>
<h3 style="text-aligin=cetner">Traceroute</h3>
<form method=post>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="form-group">
    <label >IP Address /Domain Name</label>
    <input type="text" class="form-control" placeholder="IP Address or Domain Name" name="name" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
